[modules]
# Choose operating systems to scan
linux    = True
solaris  = True
mac      = True
bsd      = True
aix      = True
hpux	 = True

[settings]
# base_url points to your Device42 server
# For example: base_url = https://192.168.1.50
base_url   =  https://
# Device42 username and password
username   =  admin
secret     =  adm!nd42

[targets]
# targets can be specified as:
# single: 192.168.1.125
# range: 192.168.1.101-192.168.1.150
# cidr block: 192.168.1.0/24
# any combination of above: 192.168.3.0/24,192.168.4.1-192.168.4.10,192.168.55.22,10.0.0.0/24
targets   =

# exclude IPs from target scope (single, range, cidr or any combination separated by comma)
exclude_ips=

[credentials]
# If using key file instead of username and password, enter 'True' for use_key_file setting and
# path to the private key file. For example:
# use_key_file = True
# key_file = /home/user/.ssh/id_rsa
use_key_file = False
key_file     =
# You can use as many USER:PWD combinations as you like separated by commas.
# TIP: put more frequently used combinations at the beginning of line
# For example: credentials = user:P@ssw0rd,root:P@ssw0rd
# If using key file, instead of user:password combination use just username
# For example: credentials = root
credentials   =


[ssh_settings]
ssh_port      = 22
timeout       = 10

[options]
get_serial_info    			= True
get_hardware_info  			= True
get_os_details     			= True
get_cpu_info       			= True
get_memory_info    			= True
ignore_domain      			= False
ignore_virtual_machines		= False
upload_ipv6        			= True
duplicate_serials  			= False
remove_stale_ips			= True
give_hostname_precedence	= True
mac_lookup					= False
debug              			= True
threads            			= 50
dict_output        			= False
#Device properties doesn't handle asymmetrical disk configs well. Better handled in parts.
add_hdd_as_device_properties= False 
add_hdd_as_parts			= True
add_nic_as_parts			= False
